extends  layouts/main-layout.pug

block content
        main
            .grid
                if products.length > 0
                    each product in products
                        article.card.product-item
                            header.card__header
                                h1.product__title #{product.title}
                            div.card__image
                                img(src="https://interactive-examples.mdn.mozilla.net/media/cc0-images/grapefruit-slice-332-332.jpg" alt="A Book")
                            div.card__content
                                h2.product__price $19.99
                                p.product__description A very intresting book
                            .card__actions
                                button.btn Add to Cart
                else
                    h1 No Products
